@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, abyss;
}

@font-face {
  font-family: HarryP;
  src: url(./assets/HarryP-MVZ6w.ttf)
}

.heading {
  font-family: HarryP;
  font-size: 8em;
  text-align: center;
}